@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Mono:wght@300;400;500;800&display=swap');

:root {
  --color-01: #f1f5f9;
  --color-02: #cbd5e1;
  --color-03: #64748b;
  --color-04: #475569;
  --color-05: #334155;
  --color-06: #1e293b;
  --color-07: #0f172a;

  --color-bg: var(--color-06);
  --color-txt: var(--color-01);
  --color-border: var(--color-04);
  --color-p: #fde047;
  --color-pl: #fef08a;
  --color-pd: #facc15;

  --color-x: #f9a8d4;
  --color-o: #67e8f9;

  --font-text: 'Roboto Mono', monospace;
  --font-marks: 'Fredoka One', Roboto, sans-serif;
}

html {
  font-family: var(--font-text);
}

body {
  background-color: var(--color-bg);
  color: var(--color-txt);
}

button {
  cursor: pointer;
  user-select: none;
  transition: background-color 200ms ease;
}

main {
  display: relative;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 2rem 0;
  position: relative;
}

.title {
  font-size: 3.3rem;
  font-weight: 300;
  text-align: center;
  /* text-transform: uppercase; */
}

.board {
  margin: 4rem auto 0;
  width: 375px;
  height: 375px;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}

.square {
  --border: 2px solid var(--color-border);
  border-right: var(--border);
  border-bottom: var(--border);
  display: grid;
  place-items: center;
  font-family: var(--font-marks);
  text-transform: uppercase;
  font-size: 3rem;
  transition: color ease-in-out 250ms;
}

.square:nth-child(3n) {
  border-right: none;
}
.square:nth-child(1n + 7) {
  border-bottom: none;
}

.bottom {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom > * {
  height: 75px;
}

.players {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.player {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em 2.5em;
  border-radius: 12px;
  user-select: none;
  transition: all 250ms ease-out;
  border: 3px solid var(--color-bg);
}

.player-name {
  font-weight: 500;
}

.player-turn.player-x {
  border-color: var(--color-x);
  color: var(--color-x);
}
.player-turn.player-o {
  border-color: var(--color-o);
  color: var(--color-o);
}

.player-mark {
  font-family: var(--font-marks);
  font-size: 2.3rem;
}

.winner {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--color-p);
  width: max-content;
  padding: 1rem 3rem;
  color: var(--color-06);
  border-radius: 12px;
  transform: scale(1);
  transition: transform 0.2s ease-out;

  position: absolute;
}

.winner-mark {
  font-family: var(--font-marks);
  font-weight: normal;
  font-size: 3rem;
  margin-top: -0.2em;
}

.hidden {
  /* display: none; */
  transform: scale(0);
  transition: none;
}

.buttons {
  position: absolute;
  left: 20%;
  top: 44%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn {
  background-color: var(--color-04);
  padding: 0.8em;
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.btn:hover {
  background-color: var(--color-03);
}

.reset-game > span {
  font-size: 1.5rem;
}

.mark-x {
  color: var(--color-x);
}

.mark-o {
  color: var(--color-o);
}

.mark-win {
  color: var(--color-p);
}

.home {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  padding: 3rem 2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

input:focus,
select:focus {
  outline: 2px solid var(--color-pd);
}

.home .inputs {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.player-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.player-input label {
  font-size: 5rem;
  font-family: var(--font-marks);
  cursor: pointer;
  user-select: none;
}

.player-input label[for='input-x'] {
  color: var(--color-x);
}

.player-input label[for='input-o'] {
  color: var(--color-o);
}

.player-input input {
  background-color: var(--color-05);
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1em 2em;
  border-radius: 10px;
}

.player-input input::placeholder {
  color: var(--color-02);
}

.player-input select {
  background: var(--color-05);
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  padding: 1em;
  border-radius: 10px;
  color: var(--color-02);
}

.btn-play {
  background-color: var(--color-p);
  color: var(--color-bg);
  font-size: 1.7rem;
  text-transform: uppercase;
  padding: 0.5em 1.7em;
  border-radius: 99em;
  margin-top: 3rem;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.btn-play:hover,
.btn-play:focus {
  background-color: var(--color-pd);
}

.visible {
  visibility: visible;
  z-index: 99;
}
